body {
    background-color: black;
    padding: 0 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px;
}
.header, .hero {
    background-color: #1F2937;
}
nav {
    display: flex;
    gap: 20px;
    font-size:larger;
}
a {
    color: #f9faf8;
    text-decoration: none;
}
#logo {
    height: auto;
    width: 75px;
}
.hero {
    display: flex;
    justify-content: space-between;
    padding: 30px 200px;
}
.hero-text {
    max-width: 300px;
    flex-shrink: 0;    
} 
h1 {
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
}
p {
    font-size: 18px;
    color: #e5e7eb;
}
.image {
    height: auto;
    width: 600px;
}
button {
    background-color: #3882f6;
    font-size: 18px;
    font-weight: bold;
    color: #f9faf8;
    padding: 5px 15px;
    border-radius: 10px;
}
.content {
    background-color: #f9faf8;
    padding: 30px 200px;
}
h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
.images {
    display: flex;
    justify-content: space-between;
}
.images img {
    height: auto;
    max-width: 100px;
    border-radius: 10px;
}
figcaption {
    max-width: 100px;
    text-align: justify;
    text-align-last: center;
    border: #1F2937;
}
.quote {
    background-color: #e5e7eb;
    padding: 30px 230px;
}
.quote p {
    font-size: 36px;
    color: #1F2937;
}
#writer {
    font-size: 24px;
    text-align: end;
}
.call-action {
    background-color: #f9faf8;
    padding: 100px 200px;
}
.signup {
    background-color: #3882f6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    border-radius: 10px;
}
.para, #sign-up {
    color: #f9faf8;
    font-size: 18px;
}
.heading {
    font-size:x-large;
    color: #f9faf8;
}
#sign-up {
    border-color: #f9faf8;
}
.footer {
    background-color: #1F2937;
    color: #f9faf8;
    padding: 30px 200px;
    text-align: center;
    font-size: 18px;
}